PORT=4001
MONGODB_URI=...
MONGODB_DB_NAME=convert-link
# Frontend origin for CORS
CLIENT_ORIGIN_DEV=http://localhost:5173
CLIENT_ORIGIN_PROD=https://convert-link-affiliate.vercel.app

# API_BASE_URL=http://localhost:4001
API_BASE_URL=https://api2.artmarketplace.online

# Secret để truy cập trang Admin (header: x-admin-secret)
ADMIN_SECRET=...


# ACCESSTRADE config
ACCESSTRADE_BASE_URL=https://api.accesstrade.vn
ACCESSTRADE_API_TOKEN=...
ACCESSTRADE_SHOPEE_CAMPAIGN_ID=...
ACCESSTRADE_LAZADA_CAMPAIGN_ID=...

SHORT_LINK_DOMAIN=...

